<h1>デバイス編集</h1>
<p>
  <b>デバイス名称:</b>
  <%=h @device.nickname %>
</p>


<% form_for(@device) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :summary, '説明' %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to 'デバイス一覧へ', devices_path %>