<h1>新規お祭り</h1>

<% form_for(@omatsuri) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, 'コード' %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name, 'タイトル' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, 'ホームページ' %><br />
    <%= f.text_field :url, :size => 80 %>
  </p>
  <p>
    <%= f.label :use_heading, '向きデータ使用する' %><br />
    <%= f.check_box :use_heading %>
  </p>
  <p>
    <%= f.label :summary, '概要' %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.submit '追加' %>
  </p>
<% end %>

<%= link_to 'お祭り一覧へ', omatsuris_path %>