<h1><%= "#{@omatsuri.name}(#{@omatsuri.code})" %></h1>
<p>
  <b>ホームページ:</b>
  <%=h @omatsuri.url %>
</p>
<p>
  <b>概要:</b>
  <%=h @omatsuri.summary %>
</p>

<%= render :partial => '/track_infos/index.html.erb', :locals => { :track_infos => @omatsuri.track_infos } %>
<br />

<%= render :partial => '/hikiyamas/index.html.erb', :locals => { :hikiyamas => @omatsuri.hikiyamas } %>
<br />

<br />
<%= link_to "編集", edit_omatsuri_path(@omatsuri) %> |
<%= link_to 'お祭り一覧へ', omatsuris_path %>