<h1><%= "#{@omatsuri.name}(#{@omatsuri.code})" %></h1>
<p>
  <b>ホームページ:</b>
  <%= link_to @omatsuri.url, @omatsuri.url, :target => '_blank' %>
</p>
<p>
  <b>概要:</b>
  <%=h @omatsuri.summary %>
</p>

<p>
  <b>地図表示情報:</b>
  <%= "緯度 #{number_with_precision(@omatsuri.location_latitude, :precision => 8)}, 経度 #{number_with_precision(@omatsuri.location_latitude, :precision => 8)}, スケール #{@omatsuri.location_scale}" %>
</p>

<%= link_to '最新位置を確認する', omatsuri_locations_path(@omatsuri.code) %>
</p>

<hr />

<%= render :partial => '/track_infos/index.html.erb', :locals => { :track_infos => @omatsuri.track_infos } %>
<br />

<hr />

<%= render :partial => '/hikiyamas/index.html.erb', :locals => { :hikiyamas => @omatsuri.hikiyamas } %>
<br />

<br />
<% if logged_in? -%>
<%= link_to "編集", edit_omatsuri_path(@omatsuri) %> |
<% end %>
<%= link_to 'お祭り一覧へ', omatsuris_path %>