<h1><%=h @omatsuri.name %></h1>
<h2>曳山(丁内)編集</h2>

<% form_for([@omatsuri, @hikiyama]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, 'コード' %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name, '名称' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, 'ホームページ' %><br />
    <%= f.text_field :url, :size => 80 %>
  </p>
  <p>
    <%= f.label :summary, '概要' %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to "#{@omatsuri.name}へ", @omatsuri %>