<h1><%= @omatsuri.name %></h1>
<h2><%= "#{@hikiyama.name}(#{@hikiyama.code})" %></h2>
<p>
  <b>ホームページ:</b>
  <%= link_to @hikiyama.url, @hikiyama.url, :target => '_blank' %>
</p>
<p>
  <b>概要:</b>
  <%=h @hikiyama.summary %>
</p>

<hr />

<%= render :partial => '/locations/index.html.erb', :locals => { :locations => @hikiyama.locations.recent(10); :show_limited => ture } %>
<br />

<br />


<%= link_to "編集", edit_omatsuri_hikiyama_path(@omatsuri, @hikiyama) %> |
<%= link_to "#{@omatsuri.name}へ", @omatsuri %>