<h2>運行情報</h2>

<table>
  <tr>
    <th>タイトル</th>
    <th>開始日時</th>
    <th>終了日時</th>
  </tr>

<% track_infos.each do |track_info| %>
  <tr>
    <td><%=link_to h(track_info.title), omatsuri_track_info_path(@omatsuri, track_info) %></td>
    <td><%=h track_info.start_at %></td>
    <td><%=h track_info.end_at %></td>
<% if logged_in? -%>
    <td><%= link_to '編集', edit_omatsuri_track_info_path(@omatsuri, track_info) %></td>
    <td><%= link_to '削除', [@omatsuri, track_info], :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? -%>
<%= link_to '運行情報追加', new_omatsuri_track_info_path(@omatsuri) %>
<% end %>
