<h1><%=h @omatsuri.title %></h1>
<h2>丁内追加</h2>

<% form_for([@omatsuri, @chonai]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, 'コード' %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :title, 'タイトル' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :summary, '概要' %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.submit '追加' %>
  </p>
<% end %>

<%= link_to "#{@omatsuri.title}へ", @omatsuri %>