<h1><%= @omatsuri.title %></h1>
<h2><%= "#{@chonai.title}(#{@chonai.code})" %></h2>
<p>
  <b>概要:</b>
  <%=h @chonai.summary %>
</p>

<%= render :partial => '/locations/index.html.erb', :locals => { :locations => @chonai.locations } %>
<br />

<br />


<%= link_to "編集", edit_omatsuri_chonai_path(@omatsuri, @chonai) %> |
<%= link_to "#{@omatsuri.title}へ", @omatsuri %>