<h2>位置情報</h2>

<table>
  <tr>
    <th>緯度(南北)</th>
    <th>経度(東西)</th>
    <th>位置精度</th>
    <th>方向</th>
    <th>方向精度</th>
    <th>時刻</th>
    <th>デバイス名称</th>
  </tr>

<% locations.each do |location| %>
  <tr>
    <td><%=h location.latitude %></td>
    <td><%=h location.longitude %></td>
    <td><%=h location.horizontal_accuracy %></td>
    <td><%=h location.heading %></td>
    <td><%=h location.heading_accuracy %></td>
    <td><%=h location.timestamp %></td>
    <td><%=h location.device.nickname if location.device %></td>
    <td><%= link_to '削除', [@omatsuri, @hikiyama, location], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '位置情報追加', new_omatsuri_hikiyama_location_path(@omatsuri, @hikiyama) %>