  <tr>
    <td><%= number_with_precision(location.latitude, :precision => 8)  %></td>
    <td><%= number_with_precision(location.longitude, :precision => 8)  %></td>
    <td><%=h location.horizontal_accuracy %></td>
    <td><%= number_with_precision(location.heading, :precision => 8)  %></td>
    <td><%=h location.heading_accuracy %></td>
    <td><%= location.timestamp.to_s(:short) %></td>
    <td><%=h truncate(location.device.nickname, 10) if location.device %></td>
    <td><%= link_to '削除', [@omatsuri, @hikiyama, location], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
