<h1><%= @omatsuri.name %></h1>
<h2><%= "#{@hikiyama.name}(#{@hikiyama.code})" %></h2>

<p>
  <b>緯度:</b>
  <%=h @location.latitude %>
</p>

<p>
  <b>経度:</b>
  <%=h @location.longitude %>
</p>

<p>
  <b>位置精度:</b>
  <%=h @location.horizontal_accuracy %>
</p>

<p>
  <b>方向:</b>
  <%=h @location.heading %>
</p>

<p>
  <b>方向精度:</b>
  <%=h @location.heading_accuracy %>
</p>

<p>
  <b>時刻:</b>
  <%=h @location.timestamp %>
</p>

<p>
  <b>バッテリー残量:</b>
  <%=h @location.battery_level %>
</p>

<p>
  <b>デバイス名称:</b>
  <%=h @location.device.nickname %>
</p>


<%= link_to 'Back', locations_path(:omatsuri => @omatsuri.code, :hikiyama => @hikiyama.code) %>